n8n-workflows/task-6.2/n8n-workflow-task1-ai-k8s-monitoring.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "bd2141cb-7299-4c7b-b849-de4b5f96c41a",
      "name": "Every 5 minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        -192
      ]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8080/",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 5000
        }
      },
      "id": "c34d9dee-efc3-42e3-8eab-c80c9fdf6697",
      "name": "Check Website",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        -192
      ],
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "ba332778-8c2b-4a63-bee4-66c3f2df00cf",
      "name": "Site OK - Do Nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        896,
        -288
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "resource": "pod"
      },
      "type": "n8n-nodes-k8s.kubernetes",
      "typeVersion": 1,
      "position": [
        896,
        -96
      ],
      "id": "60ec11cf-3194-4f5f-8b97-75440550bfb2",
      "name": "Get pods",
      "credentials": {
        "kubernetesCredentialsApi": {
          "id": "QDV3nQxdJiQhcvWA",
          "name": "Kubernetes Credentials file"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const pod = item.json;\n\n  // Determine pod status based on container states\n  let status = pod.status.phase; // fallback\n  if (pod.status.containerStatuses && pod.status.containerStatuses.length > 0) {\n    // If any container is waiting, show waiting reason\n    const waitingContainer = pod.status.containerStatuses.find(c => c.state.waiting);\n    if (waitingContainer) {\n      status = waitingContainer.state.waiting.reason || \"Waiting\";\n    } else {\n      // If any container terminated with non-zero exit code\n      const terminatedContainer = pod.status.containerStatuses.find(c => c.state.terminated && c.state.terminated.exitCode !== 0);\n      if (terminatedContainer) {\n        status = terminatedContainer.state.terminated.reason || `Error(${terminatedContainer.state.terminated.exitCode})`;\n      } else {\n        // All containers running\n        status = \"Running\";\n      }\n    }\n  }\n\n  return {\n    json: {\n      name: pod.metadata.name,\n      namespace: pod.metadata.namespace,\n      status: status,\n      podIP: pod.status.podIP,\n      restarts: pod.status.containerStatuses?.reduce((sum, c) => sum + c.restartCount, 0) || 0\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        -96
      ],
      "id": "5a27d7d3-f982-409a-83a1-16fe456acbf8",
      "name": "Normalize output"
    },
    {
      "parameters": {
        "chatId": "1381321310",
        "text": "=🚨 Kubernetes Pod Status Alert\n\n📦 Pod Name:{{ $json.name }} \n📍 Namespace: {{ $json.namespace }} \n✅ Status: {{ $json.status }}\n🔄 Restarts: {{ $json.restarts }}\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "b375719e-7faf-46d1-9c17-f44238ff72e5",
      "name": "Send Alert to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1344,
        -96
      ],
      "webhookId": "1296a8cd-8b7e-4ce0-9a90-c761cd3273ce",
      "credentials": {
        "telegramApi": {
          "id": "uvzpxIfS6ten68v6",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "ce646cd8-84ec-4a50-b281-be435d0d6422",
              "leftValue": "={{ $json.isUp }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "71b349fc-3647-43c0-9a0c-d13417b262eb",
      "name": "Site is UP?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        672,
        -192
      ]
    },
    {
      "parameters": {
        "jsCode": "// --- Given ---\nconst input = $input.first().json;\n\n// --- When ---\n// Handle both object and array cases (timeout and normal responses)\nconst httpResult = Array.isArray(input) ? input[0] : input;\n\n// Default structure\nconst normalized = {\n  isUp: false,\n  statusCode: null,\n  body: null,\n  error: null,\n  errorCode: null,\n  commands_used: [],\n};\n\n// --- Then ---\n// Case 1: request failed (timeout, ECONNREFUSED, etc.)\nif (httpResult?.error) {\n  normalized.error = httpResult.error.message || 'Unknown error';\n  normalized.errorCode = httpResult.error.code || 'UNKNOWN';\n  return [{ json: normalized }];\n}\n\n// Case 2: valid HTTP response\nconst statusCode = httpResult.statusCode ?? null;\n\n// Support both `data` and `body`\nconst rawBody = httpResult.body ?? httpResult.data ?? '';\nconst body = typeof rawBody === 'string' ? rawBody : JSON.stringify(rawBody);\n\n// Check\nconst hasValidStatus = statusCode === 200;\nconst hasKeyword = body.toUpperCase().includes('SYSTEM ONLINE');\n\nnormalized.isUp = hasValidStatus && hasKeyword;\nnormalized.statusCode = statusCode;\nnormalized.body = body.substring(0, 300);\n\nreturn [{ json: normalized }];\n"
      },
      "id": "8f0f0b17-e0d9-4493-93a4-a1c8cc376a31",
      "name": "Normalize Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        -192
      ]
    }
  ],
  "connections": {
    "Every 5 minutes": {
      "main": [
        [
          {
            "node": "Check Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Website": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get pods": {
      "main": [
        [
          {
            "node": "Normalize output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize output": {
      "main": [
        [
          {
            "node": "Send Alert to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Site is UP?": {
      "main": [
        [
          {
            "node": "Site OK - Do Nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get pods",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Response": {
      "main": [
        [
          {
            "node": "Site is UP?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ac1ec4fc462343250bd35255cf8d366745397ea0c585c524410b9790a28d49ad"
  }
}